<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.middle.wcs.order.dao.OrderInfoMapper">

    <resultMap type="com.middle.wcs.order.entity.po.OrderInfo" id="OrderInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="orderName" column="order_name" jdbcType="VARCHAR"/>
        <result property="batchNo" column="batch_no" jdbcType="VARCHAR"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="processName" column="process_name" jdbcType="VARCHAR"/>
        <result property="orderQuantity" column="order_quantity" jdbcType="INTEGER"/>
        <result property="destination" column="destination" jdbcType="VARCHAR"/>
        <result property="analysisTime" column="analysis_time" jdbcType="INTEGER"/>
        <result property="orderStatus" column="order_status" jdbcType="INTEGER"/>
        <result property="loadedQuantity" column="loaded_quantity" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="invalidFlag" column="invalid_flag" jdbcType="INTEGER"/>
        <result property="createrName" column="creater_name" jdbcType="VARCHAR"/>
        <result property="createrCode" column="creater_code" jdbcType="VARCHAR"/>
        <result property="executorName" column="executor_name" jdbcType="VARCHAR"/>
        <result property="executorCode" column="executor_code" jdbcType="VARCHAR"/>
        <result property="finisherName" column="finisher_name" jdbcType="VARCHAR"/>
        <result property="finisherCode" column="finisher_code" jdbcType="VARCHAR"/>
        <result property="finishTime" column="finish_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryHistoryOrderList" resultMap="OrderInfoMap">
        SELECT
            id,
            order_id,
            order_name,
            batch_no,
            product_name,
            process_name,
            order_quantity,
            destination,
            analysis_time,
            order_status,
            loaded_quantity,
            create_time,
            invalid_flag,
            creater_name,
            creater_code,
            executor_name,
            executor_code,
            finisher_name,
            finisher_code,
            finish_time
        FROM
            dbo.order_info
        WHERE
            invalid_flag = 0
          <if test="orderId != null and orderId != ''">
            AND order_id LIKE CONCAT('%', #{orderId}, '%')
          </if>
          <if test="orderName != null and orderName != ''">
            AND order_name LIKE CONCAT('%', #{orderName}, '%')
          </if>
          <if test="orderStatus != null">
            AND order_status = #{orderStatus}
          </if>
          <if test="executorName != null and executorName != ''">
            AND executor_name LIKE CONCAT('%', #{executorName}, '%')
          </if>
        ORDER BY
            create_time DESC
    </select>

</mapper>
